*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#indexContainer{
    width: 100%;
    height: 260vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
        "header header"
        "section1 section1"
        "section2 section2";
}

.mainHeaders{
    display: grid;
    grid-area: header;
    background-color: white;

    
    justify-content: space-evenly;
    align-items:center;

    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    height: 55px;
    width: 500px;
    background-color: rgb(235, 235, 235)
    
}

nav a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 18px;
    text-decoration: none;
    width: 120px;
    height: 35px;
}

nav a:hover{
    border-radius: 3px;
    background-color: rgb(129, 129, 129);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform:   scale(1.15);
    transition: all 300ms ease;
    color: white;
}

#sloganSection{
    display: grid;
    grid-area: section1;
    background-color: rgb(247, 247, 247);
    
    
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(23, 23, 23);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 20px;
    

}

#redbullAndSlogan{
    width: 1150px;
    height: 750px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

#buyLinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 255);
    border-radius: 6px;
    margin-left: 250px;
    height: 60px;
    width: 220px;
}

#buyLinkContainer a{
    text-decoration: none;
    color: white;
    width: 220px;
    height: 55px;
    padding-top: 14px;
}

#buyLinkContainer:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 400ms ease;
    
    
}

#buyLinkContainer a:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 400ms ease;
    color: rgb(255, 78, 78);
    
}



#redbullAndSlogan h1{
    padding-left: 110px;
    padding-bottom: 60px;
    text-align: left;
    width: 800px;
    font-size: 70px
}

#singleRedbullCan{
    height: 600px;
    width: auto;

}

#indexSection2{
    grid-area: section2 section2;
    
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 225, 225);
    align-items: center;
    color: rgb(23, 23, 23);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
    justify-content: space-evenly;

    
}

#indexSection2 h1{
    
    letter-spacing: 2px;
    width: 600px;
    font-size: 62px;
}

#indexSection2 h2{
    
    letter-spacing: 2px;
    font-size: 40px;
}


#indexSection2 p{
    
    font-weight: normal;
    letter-spacing: 1px;
    width: 500px;
    font-size: 20px;
    color: rgb(60, 60, 60);
    opacity: 90%;
    padding-top: 50px;
}

#indexProductInfoContainer{
    padding-top: 50px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-plug{
    position: relative;
    top: 20px;
}

.product-plug::after{
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(255, 49, 49);
    position: absolute;
    top: 25px;
}




#indexSection3{

    grid-area: section2 section2;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    
}

.index-product-card{
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: 300ms ease;

}

.index-card-row{
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    
    
}

.index-card-image{
    width: 100px;
    height: auto;
}

.index-product-card h2{
    display: block;
    color: rgb(23, 23, 23);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    opacity: 90%;
    padding-top: 15px;
}

.index-product-card:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform:   scale(1.15);
    transition: all 300ms ease;
    
    
}